input/*
!input/make_input.py
!input/download.sh
!input/README.md
!input/make_kaggle_input.py
!input/make_full_input.py
!input/make_full_yolo_input.ipynb
!input/handtracking

input/handtracking/*
!input/handtracking/utils
!input/handtracking/README.md
!input/handtracking/requirements.txt
!input/handtracking/LICENSE
!input/handtracking/make_annotation.py

.vscode

**/*.pyc

**/wandb

output/*